<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 
 package="com.hughes.android.dictionary"
 
 android:versionCode="21"
 android:versionName="3.3"
 android:installLocation="auto">

 <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>
 
   <!--
    Because android:minSdkVersion is 3, these parameters default to
    false, but we need them to be true.
    See:
    http://developer.android.com/guide/topics/manifest/supports-screens-element.html
    -->
  <supports-screens
      android:resizeable="true"
      android:anyDensity="true"
      android:largeScreens="true"
      />
      
   <!--   android:xlargeScreens="true" />  --> 
   
   <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application 
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:theme="@style/Theme.Light"
      android:name=".DictionaryApplication" >
  
<!--   
  android:backupAgent="DictionaryBackupAgent"
  -->

  <meta-data android:name="com.google.android.backup.api_key"
      android:value="AEdPqrEAAAAIUa0cU0ZHbBpYXJqm0vVUP5IAjr5D4iUeX7UwiQ" />

  <activity android:name=".DictionaryManagerActivity"
      android:label="@string/app_name">

    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
  </activity>

  <activity android:name=".DictionaryActivity" />
  <activity android:name=".DictionaryEditActivity" />
  <activity android:name=".AboutActivity" />
  <activity android:name=".HtmlDisplayActivity" />
  <activity android:name=".PreferenceActivity" />
  <activity android:name=".DownloadActivity"
      android:configChanges="keyboardHidden|orientation"/>

 </application>

</manifest> 